@model Question
@section subnav{
    <div class="navbar-nav">
        <div class="nav-item"><a class="nav-link navbar-brand" href="@Url.Details("Examinations",new { Model.Examination.ID})"><i class="mdi mdi-chevron-double-left"></i>@Model.Examination.Topic</a></div>
    </div>
}

<h3>Edit question  <i class="mdi mdi-question-mark-circle"></i></h3>
@Html.ValidationSummary(false, "", new { @class = "text-danger small" })
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-light mb-0">Question</label>
                        @Html.TextAreaFor(m => m.Name, new { @class = "form-control", required = "", id = "sceditor", rows = 15 })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger small" })
                    </div>
                    <div class="form-group">
                        <label class="font-weight-light mb-0">Score</label>
                        @Html.TextBoxFor(m => m.Score, new { @class = "form-control", required = "", type = "number" })
                        @Html.ValidationMessageFor(m => m.Score, "", new { @class = "text-danger small" })
                    </div>
                    <hr class="bg-success" />

                    <div class="form-group">
                        <label>Answer</label>
                        <textarea class="form-control" data-bind="textinput: Answer"></textarea>
                        <button type="button" id="btn" class="btn btn-success btn-sm mt-1" data-bind="click: addItem, attr: {disabled: canAddItem()==false}">Add <i class="mdi mdi-chevron-right"></i></button>
                    </div>


                    <!-- ko if: Items().length > 0 -->
                    <div class="mt-4">
                        <h6><i class="mdi mdi-message-reply-text"></i>Answers</h6>
                    </div>
                    <table class="table table-sm table-striped table-hover table-bordered table-active">
                        <thead>
                            <tr>
                                <th>Answer</th>
                                <th>State</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach:Items">
                            <tr>
                                <td><textarea data-bind="textinput:Ans" class="form-control" name="Anss"></textarea></td>
                                <td>
                                    <select name="Bits" class="form-control">
                                        @foreach (AnswerFlags item in Enum.GetValues(typeof(AnswerFlags)))
                                        {
                                            <option value="@((int)item)" >@item.ToEnumString()</option>
                                        }
                                    </select>
                                </td>
                                <td class="text-center"><button type="button" class="btn btn-danger btn-sm" data-bind="click :$parent.removeItem">Delete <i class="mdi mdi-delete-forever"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                    <!--/ko-->
                </div>
                <div class="card-footer">
                    <div class="mb-4 text-right">
                        <button class="btn btn-success" id="sub">Submit <i class="mdi mdi-checkbox-marked-circle"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Styles{
    <link rel="stylesheet" href="~/Scripts/SCEditor/themes/square.min.css" />
}
@section Scripts {
    <script src="~/Scripts/App/ko.Questions.Add.js"></script>
    <script src="~/Scripts/SCEditor/jquery.sceditor.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var model = new MyModel(@ViewBag.list);
            ko.applyBindings(model);
            var textarea = document.getElementById('sceditor');
            sceditor.create(textarea, {
                format: 'xhtml',
                style: './../Scripts/SCEditor/themes/square.min.css',
                emoticons: './../Scripts/SCEditor/emoticons/',
            });
        });
    </script>
}

