@model IPagedList<ExchangeRate>

@section subnav{
    <div class="navbar-nav mr-auto">
        <div class="nav-item"><a class="nav-link navbar-brand" href="@Url.Index()">Rates</a></div>
        <div class="nav-item"><a class="nav-link " href="@Url.Add()"><i class="mdi mdi-plus"></i>Add new...</a></div>

    </div>
    <div class="navbar-nav ml-auto">
        <div class="nav-item">
            <div class="nav-link">
                @using (Html.BeginForm("Index", "ExchangeRates", FormMethod.Get, new { @class = "form-inline" }))
                {
                    <div class="input-group">
                        @Html.TextBox("q", "", new { @class = "form-control", Type = "date", placeholder = "Search" })
                        <span class="input-group-append">
                            <button class="btn btn-light" type="submit">Go</button>
                        </span>
                    </div>
                }
            </div>
        </div>
    </div>
}
@if (Model.TotalItemCount > 0)
{
    <h3 class="font-weight-light mt-3">Exchange rates  <span class="badge badge-pill badge-primary">@Model.TotalItemCount</span></h3>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Rate</th>
                <th>Currency</th>
                <th>Payment Method</th>
                <th>Last update</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td><a class="text-primary" href="@Url.Details( i.ID)">@i.Rate</a></td>
                    <td>@i.Currency.Name</td>
                    <td>
                        @if (i.PaymentMethodID.HasValue)
                        {
                            @i.PaymentMethod.Name
                        }
                    </td>
                    <td>@i.CreationDate.BasicFormat()</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="d-none d-print-block">
        <p>Report date: <b>@DateTime.Now</b></p>
        <p>Printed by: <b>@User.Identity.GetUserName()</b></p>
    </div>
    @Html.PagedListPager(Model, p => Url.Query(new { p, q = ViewBag.q }),
           new PagedListRenderOptions() { Display = PagedListDisplayMode.Always, DisplayPageCountAndCurrentLocation = true })
}
else
{
    <div class="text-center">
        <h3 class="font-weight-light text-danger">Exchange rates will be listed here!</h3>
        <a class="btn btn-sm btn-primary" href="@Url.Add()"><i class="mdi mdi-plus"></i>Add new...</a>
    </div>
}