@model District

@section subnav{
    <div class="navbar-nav">
        <div class="nav-item"> <a class="nav-link" href="@Url.Action("Index", "Countries" )">Countries</a></div>
        <div class="nav-item"> <a class="nav-link" href="@Url.Action("Details", "Countries",new { Model.Province.Country.ID} )">@Model.Province.Country.Name</a></div>
        <div class="nav-item"><a class="nav-link" href="@Url.Action("Details", "Provinces",new { Model.Province.ID})">@Model.Province.Name</a></div>
        <div class="nav-item"><a class="nav-link" href="@Url.Action("Details", "Cities",new { Model.ID})">@Model.Name</a></div>
        <div class="nav-item"><a class="nav-link" href="@Url.Action("Edit", "Districts",new { Model.ID})">Edit</a></div>
    </div>
}

<h3 class="font-weight-light">Edit a district</h3>
<div class="row">
    <div class="col-md-7">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="id" value="@Model.ID" />
            <div class="card shadow">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-4">Name</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", required = "" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="text-right">
                        <button class="btn btn-success">Submit <i class="mdi mdi-checkbox-marked-circle"></i></button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}