@model Region

@section subnav{
    <div class="navbar-nav">
        <div class="nav-item"><a class="nav-link navbar-brand" href="@Url.Index()"><i class="mdi mdi-chevron-double-left"></i> Regions</a></div>
        <div class="nav-item"> <a class="nav-link" href="@Url.Details()">@Model.Name</a></div>
        <div class="nav-item"><a class="nav-link" href="@Url.Edit()"><i class="mdi mdi-pencil"></i> Edit...</a></div>
    </div>
}


<h3 class="font-weight-light"><i class="mdi mdi-map"></i>Region : @Model.Name</h3>
<div class="row">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-body">
                <div class="form-group">
                    <label class="font-weight-bold text-muted mb-0">Name</label>
                    <div>@Model.Name</div>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold text-muted mb-0">Continent</label>
                    <div><a href="@Url.Details("Continents",new { Model.Continent.ID })">@Model.Continent.Name</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        @if (Model.Countries.Any())
        {
            <div class="form-inline">
                <h4 class="font-weight-light">Countries</h4>
                <div class="ml-auto">
                    <a href="@Url.Add("Countries",Model.ID)"><i class="mdi mdi-plus"></i> Add more</a>
                </div>
            </div>
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Countries)
                    {
                        <tr>
                            <td><a href="@Url.Details("Countries",new { item.ID})">@item.Name</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="text-center">
                <h4 class="font-weight-light text-danger">No countries in this region</h4>
                <a class="btn btn-outline-success btn-sm" href="@Url.Add("Countries",Model.ID)"><i class="mdi mdi-plus"></i> Add more</a>
            </div>
        }
    </div>
</div>