@model PaymentMethod

@section subnav{
    <div class="navbar-nav">
        <div class="nav-item"><a class="nav-link navbar-brand" href="@Url.Index()"><i class="mdi mdi-chevron-double-left"></i> Payment methods</a></div>
    </div>
}
<h3 class="font-weight-light">Edit payment method</h3>
<div class="row">
    <div class="col-md-7">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="id" value="@Model.ID" />
            <div class="card shadow">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-4">Name</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4">Requires reference</label>
                        <div class="col-md-8 checkbox">
                            @Html.EditorFor(model => model.RequireReference)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4">Set as default</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.IsDefault)
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-success">Save <i class="mdi mdi-checkbox-marked-circle"></i></button>
                </div>
            </div>
        }
    </div>
</div>

