
@model Notice
@section subnav{
    <div class="navbar-nav">
        <div class="nav-item"><a class="nav-link navbar-brand" href="@Url.Index()">Notices</a></div>
        <div class="nav-item"><a class="nav-link" href="@Url.Details()">@Model.Heading</a></div>
        <div class="nav-item"><a class="nav-link" href="@Url.Edit()"><i class="mdi mdi-pencil"></i>Edit..</a></div>
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="">
    <div class="form-group row">
        <label class="col-md-4">Heading or title <i class="text-danger">*</i></label>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.Heading, new { @class = "form-control", required = "" })
            @Html.ValidationMessageFor(m => m.Heading, "", new { @class = "text-danger small" })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4">Type <i class="text-danger">*</i></label>
        <div class="col-md-8">
            @Html.SelectListFor(m => m.Type, new { @class = "form-control", required = "" })
            @Html.ValidationMessageFor(m => m.Type, "", new { @class = "text-danger small" })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4">Start date <i class="text-danger">*</i></label>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control", required = "", type = "date" })
            @Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "text-danger small" })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4">End date <i class="text-danger">*</i></label>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control", required = "", type = "date" })
            @Html.ValidationMessageFor(m => m.EndDate, "", new { @class = "text-danger small" })
        </div>
    </div>
    <div class="form-group">
        <div class="mt-2">
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @row = 5 })
        </div>
    </div>
    <div class="form-group text-right">
        <button class="btn btn-success" id="btnSubmit" type="submit">
            Submit
        </button>
    </div>
</div>
}

@section styles{
    <link href="~/Scripts/summernote/summernote.css" rel="stylesheet" />
    <style>
        .modal-content {
            z-index: 20000;
        }

        .modal-backdrop {
            z-index: -1;
        }
    </style>
}

@section scripts{
    <!-- Summernote -->
    <script src="~/Scripts/summernote/summernote.js"></script>
    <!-- Summernote init -->
    <script src="~/Scripts/summernote/summernote-init.js"></script>
    <script>
        $(document).ready(function () {
            $('#sidebar').addClass('active');
            $('#ModuleID').select2({
                placeholder: "Search module..",
                minimumInputLength: 1,
                theme: "bootstrap4",
                ajax: {
                    dataType: 'json',
                    url: "@Url.Action("Search","Modules")",
                    type:"GET",
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    }
                },

            });
        })
        $('#Description').summernote({
            height: 300,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: true,                  // set focus to editable area after initializing summernote
            callbacks: {
                onImageUpload: function (files) {
                    for (let i = 0; i < files.length; i++) {
                        UploadImage(files[i]);
                    }
                }
            }
        });

        function UploadImage(file) {
        var url = '@Url.Action("UploadFile", "Notices")';

        formData = new FormData();
        formData.append("aUploadedFile", file);
        $.ajax({
            type: 'POST',
            url: url,
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
               // alert(data);
                var imgNode = document.createElement('img');
                imgNode.src = '@Url.Action("Image", "Notices")?data=' + data;;
                $('#Description').summernote('insertNode', imgNode);
            },
            error: function (data) {
                alert(data.responseText);
            }
        });
    }
    </script>
}



