@model IPagedList<Farmer>
@section subnav{
    <div class="navbar-nav mr-auto">
        <div class="nav-item"><a class="nav-link navbar-brand" href="@Url.Index()">Farmers</a></div>
        <div class="nav-item"><a class="nav-link" href="@Url.Add()"><i class="mdi mdi-plus"></i> Add new..</a></div>
        <div class="nav-item"><a class="nav-link" href="@Url.Action("Insights")"><i class="mdi mdi-chart-bar"></i> Insights.</a></div>
    </div>
}
@if (Model.TotalItemCount > 0)
{
    <h3 class="font-weight-light mt-3">Farmers  <span class="badge badge-pill badge-success">@Model.TotalItemCount</span></h3>
    <table class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>ID number</th>
                <th>Address</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Account #</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model.OrderByDescending(c => c.CreationDate).ThenBy(c=>c.WardID))
            {
                <tr>
                    <td><a href="@Url.Details(c.ID)">@c.Fullname</a></td>
                    <td>@Html.DisplayFor(m => c.IDNumber)</td>
                    <td>@Html.DisplayFor(m => c.Address)</td>
                    <td>@Html.DisplayFor(m => c.Mobile)</td>
                    <td>@Html.DisplayFor(m => c.Email)</td>
                    <td>@Html.DisplayFor(m => c.Account)</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
    @Html.PagedListPager(Model, p => Url.Query(new { p }),
    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })

}
else
{
    <div class="text-center">
        <h4 class="font-weight-light text-danger">Farmers will be listed here</h4>
        <a class="btn btn-outline-success btn-sm" href="@Url.Add()"><i class="mdi mdi-plus"></i> Add new..</a>
    </div>
}