@model IPagedList<NonValueChain>
@section subnav{
    <div class="navbar-nav">
        <div class="nav-item"><a class="nav-link navbar-brand" href="@Url.Index()">Non value chains</a></div>
        <div class="nav-item"><a class="nav-link" href="@Url.Add()"><i class="mdi mdi-plus"></i>Add new</a></div>
    </div>
}

@if (!Model.Any())
{
    <div class="text-center mt-4">
        <h4 class="text-danger">There's nothing here!</h4>
        <a href="@Url.Add()" class="btn btn-outline-success btn-sm"><i class="mdi mdi-plus"></i> Add new non value chain</a>
    </div>
}
else
{
    <h3 class="font-weight-light">Non value chains</h3>
    <h4 class="font-weight-light">@Model.TotalItemCount non value chain@(Model.TotalItemCount == 1 ? "" : "s")<small> found..</small></h4>
    <table class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td><a class="text-success" href="@Url.Details(i.ID)">@i.Name</a></td>
                </tr>
            }
        </tbody>
    </table>
    @Html.PagedListPager(Model, p => Url.Query(new { p }),
       new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })
}
