@model Country

@section subnav{
    <div class="navbar-nav">
        <div class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Countries" )">Countries</a></div>
        <div class="nav-item"> <a class="nav-link" href="@Url.Action("Edit", "Countries",new { id=Model.ID})">Edit..</a></div>
    </div>
}

<h3 class="font-weight-light">Edit a country</h3>
<div class="row">
    <div class="col-md-7">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="id" value="@Model.ID" />
            <div class="card shadow">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-4">Name <i class="text-danger">*</i></label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", required = "" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4">Symbol <i class="text-danger">*</i></label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.ID, new { @class = "form-control", required = "", minlength = 3, maxlength = 3, disabled = "" })
                            @Html.ValidationMessageFor(m => m.ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4">Code <i class="text-danger">*</i></label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Code, new { @class = "form-control", required = "", minlength = "2", maxlength = "6" })
                            @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4">Region <i class="text-danger">*</i></label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(m => m.RegionID, (SelectList)ViewBag.regions, "Select..", new { @class = "form-control", required = "" })
                            @Html.ValidationMessageFor(m => m.RegionID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="text-right">
                        <button class="btn btn-success">Submit <i class="mdi mdi-checkbox-marked-circle"></i></button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

